.top-box {
    background: rgb(3, 117, 73);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    display: block;
}

body {
    margin: 0px;
}
a {
    color:blue;
    text-decoration: none;
}
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 2px solid gray;
    padding: 20px;
    margin: 0px;
}
#grid ol {
    border-right: 2px solid gray;
    padding: 20px;
    padding-left: 30px;
    margin: 0px;

}
li {
    font-size: 20px;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#text {
    padding: 20px;
}
@media(max-width:650px){
    #grid {
    display: block;
}
    #grid ol {
    border-right: none;
}
}